svg {
  width: 300px;
  height: 300px;
}

div {
  max-width: 1300px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.toogle {
  background-color: #777777;
}

.yellow {
  fill: yellow;
}

.animation {
  animation-name: animation;
  animation-duration: 1s;
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
